<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="EERIL.ControlSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
   <section name="Msled.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
  </sectionGroup>
 </configSections>
 <startup useLegacyV2RuntimeActivationPolicy="true">
		
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
 <userSettings>
  <EERIL.ControlSystem.Properties.Settings>
   <setting name="MissionDirectory" serializeAs="String">
    <value>C:\Msled\Missions</value>
   </setting>
   <setting name="SelectedMission" serializeAs="String">
    <value />
   </setting>
   <setting name="SerialMappedFileCapacity" serializeAs="String">
    <value>256000000</value>
   </setting>
   <setting name="SerialReceiveTimeout" serializeAs="String">
    <value>2000</value>
   </setting>
   <setting name="SerialReceiveInputBufferSize" serializeAs="String">
    <value>512</value>
   </setting>
   <setting name="HeadsUpDisplayZoom" serializeAs="String">
    <value>25</value>
   </setting>
   <setting name="HeadsUpDisplayLocation" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="YawOffset" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="TopFinOffset" serializeAs="String">
    <value>90</value>
   </setting>
   <setting name="RightFinOffset" serializeAs="String">
    <value>90</value>
   </setting>
   <setting name="BottomFinOffset" serializeAs="String">
    <value>90</value>
   </setting>
   <setting name="LeftFinOffset" serializeAs="String">
    <value>90</value>
   </setting>
   <setting name="FinRange" serializeAs="String">
    <value>64</value>
   </setting>
  </EERIL.ControlSystem.Properties.Settings>
  <Msled.Properties.Settings>
   <setting name="MissionDirectory" serializeAs="String">
    <value>C:\Msled\Missions</value>
   </setting>
   <setting name="SelectedMission" serializeAs="String">
    <value/>
   </setting>
   <setting name="SerialMappedFileCapacity" serializeAs="String">
    <value>256000000</value>
   </setting>
   <setting name="SerialReceiveTimeout" serializeAs="String">
    <value>2000</value>
   </setting>
   <setting name="SerialReceiveInputBufferSize" serializeAs="String">
    <value>1024</value>
   </setting>
   <setting name="HeadsUpDisplayZoom" serializeAs="String">
    <value>25</value>
   </setting>
   <setting name="HeadsUpDisplayLocation" serializeAs="String">
    <value>0, 0</value>
   </setting>
  </Msled.Properties.Settings>
 </userSettings>
</configuration>
